.box {
  font-size: 30px;
  color: white;
  width: 120px;
  height: 60px;
  /* padding: 10px; */
  text-align: center;
  line-height: 55px;
  background-color: blue;
  border: 5px solid peru;
  border-radius: 40px;
  margin: 20px;
}
