.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #db0909;
  margin-left: -60px;
}
img:first-child {
  margin-left: 0;
}
.content{
  /* width: 280px; */
  background-color: yellowgreen;
  padding: 20px 20px;
}
