body {
  background-color: #d8d5d5;
}
.container h1 {
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT";
}
.container p {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  line-height: 30px;
}
.container{
  margin: 0 auto;
  width: 500px;
  text-align: center;
  background-color: aqua;
}
.container img {
  max-width: 400px;
}